name: Day 5 - Secrets & Environment Variables

on: 
  workflow_dispatch:

jobs:
  secrets-demo:
    runs-on: ubuntu-latest

    steps:
      - name: Read Secret
        env:
          DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
          JWT_SECRET: ${{ secrets.JWT_SECRET }}
        run: |
          echo "DB Password is set ✅"
          echo "JWT Secret is set ✅"
